In [2]:
from sklearn.datasets import load_iris
import pandas as pd
df = load_iris()
x = pd.DataFrame(df.data, columns = [df.feature_names])
y = pd.Series(df.target)

In [7]:
x.head()

  sepal length (cm) sepal width (cm) petal length (cm) petal width (cm)
0               5.1              3.5               1.4              0.2
1               4.9              3.0               1.4              0.2
2               4.7              3.2               1.3              0.2
3               4.6              3.1               1.5              0.2
4               5.0              3.6               1.4              0.2

In [8]:
y.head()

0    0
1    0
2    0
3    0
4    0
dtype: int32

In [9]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   (sepal length (cm),)  150 non-null    float64
 1   (sepal width (cm),)   150 non-null    float64
 2   (petal length (cm),)  150 non-null    float64
 3   (petal width (cm),)   150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB

In [16]:
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

# Normalizando as variáveis preditoras:
normalizador = MinMaxScaler(feature_range = (0,1))
x_norm = normalizador.fit_transform(x)

# Separando os dados entre treino e teste:
x_treino, x_teste, y_treino, y_teste = train_test_split(x_norm, y, test_size = 0.3, random_state = 16)

# Criação do modelo
modelo = KNeighborsClassifier(n_neighbors = 5)
modelo.fit(x_treino, y_treino)

# Score
resultado = modelo.score(x_teste, y_teste)
print('Acurácia:', resultado)

Acurácia: 0.9777777777777777